.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: stretch;
  justify-content: center;
  padding: 24px;
  margin-bottom: 64px;
  color: #16181d99;
}

.project-info {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 90vw;
}

.gb-image {
  object-fit: contain;
  width: 800px;
  max-width: 90vw;
}
/* Imagem no tamanho original em telas grandes */
@media screen and (min-width: 1800px){
  .gb-image{
    width: 1200px;
  }
}

.project-title {
  text-align: center;
  font-size: 30px;
}

.project-details {
  font-size: 16px;
  text-align: justify;
  margin-top: 20px;
  font-family: "Montserrat";
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.flex-column img {
  width: 60%;
  margin-top: 50px;
}

@media screen and (max-width: 1100px){
  .flex-column img {
    width: 90vw;
  }
}