.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    color: #f4f4f4;
    height: 100vh;
}

.contact-title {
    margin-top: 16px;
    font-size: 30px;
}

.contact-subtitle {
    font-size: 14px;
}

.footer-small-text {
    font-size: 11px;
    flex: 1;
    align-items: flex-end;
    display: flex;
    padding-bottom: 8px;
}

.footer-small-text a{
    margin-left: 3px;
    color: #f4f4f4;
}

.contact-form {
    width: 500px;
    max-width: 90vw;
}

.submit-button {
    align-self: flex-end;
}

.form-textarea {
    min-height: 100px;
    max-height: 300px;
}