.header-link {
  font-size: 14px;
  font-weight: 500;
  margin-right: 30px;
  border-color: #58973b;
  color: #F4F4F4;
  border: 0px solid #ffffff00;
  transition: border 0.3s, border-color 0.3s, border-style 0.3s;
}

.header-link:hover {
  cursor: pointer;
  color: #F4F4F4;
  text-decoration: none;
  border-bottom: 2px solid #58973b;
}

.active-header-link {
  border-bottom: 2px solid #58973b;
}


@media screen and (max-width: 960px){
  .header-link {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    flex: 1;
  }

  .header-link span {
    flex: 1;
    font-size: 1.5em;
    text-align: center;
  }
  
  .header-link:hover {
    cursor: pointer;
    color: #F4F4F4;
    text-decoration: none;
    background-color: #58973b80;
    border: 0;
    transition: all 0.3s ease;
  }

  .active-header-link {
    border: 0;
    background-color: #58973b;
  }
}