.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  color: rgba(0, 0, 0, 0.65);
  padding: 24px 0px;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.services-title {
  color: rgba(0, 0, 0, 0.65);
  font-size: 40px;
}

.services-subtitle {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.35);
  margin-bottom: 32px;
  font-family: "Montserrat";
  text-align: center;
  padding: 0 8px;
}

.service-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.service-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 24px;
  transition: transform 0.3s ease;
}

.service-image {
  height: 75px;
  width: 75px;
  margin-right: 10px;
}

.service-container:hover {
  transform: scale(1.1);
}

.service-info {
  display: flex;
  flex-direction: column;
  max-width: 150px;
}

.service-info-title {
  font-size: large;
  color: #222;
}

.service-info-details {
  font-size: small;
}
