.techs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    color: rgba(0, 0, 0, 0.65);
    padding: 24px 0px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.techs-title {
    color: rgba(0, 0, 0, 0.65);
    font-size: 40px;
}

.techs-subtitle {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.35);
  margin-bottom: 32px;
  font-family: "Montserrat";
  text-align: center;
  padding: 0 8px;
}


.tech-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tech-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 24px;
    transition: transform 0.3s ease;
}

.tech-container:hover {
  transform: scale(1.1);
}

.tech-image {
    height: 75px;
    width: 75px;
    margin-right: 10px;
}

.tech-info {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.tech-info-title {
    font-size: large;
    color: #222;
}

.tech-info-details {
    font-size: small;
}